# 環境構築

Ctrl + M → B で下にセルを追加

Ctrl + M → A で上にセルを追加

Ctrl + M → M でテキストモード（Ctrl + M（長押し） でも可）

Ctrl + M → Y でコードモード

Ctrl + M → D でセル削除

# 基本構文

比較演算子

In [ ]:
2<1

False

In [ ]:
a=3

In [ ]:
a<2

False

In [ ]:
a==3

True

In [ ]:
a==4

False

In [ ]:
a!=3

False

In [ ]:
a!=4

True

エスケープシーケンス

In [ ]:
print("私はキカガクです。よろしくお願いします。")

私はキカガクです。よろしくお願いします。

In [ ]:
print("私はキカガクです。\nよろしくお願いします。")

私はキカガクです。
よろしくお願いします。

In [ ]:
print("私はキカガクです。\nよろしくお願いします。\n\tタブ\n\tタブ")

私はキカガクです。
よろしくお願いします。
	タブ
	タブ

# 制御構文

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)
  print("キカガク")

0
キカガク
1
キカガク
2
キカガク
3
キカガク
4
キカガク

In [ ]:
animals = ["cat","dog","bard"]
print(animals)

['cat', 'dog', 'bard']

In [ ]:
animals[0]

'cat'

In [ ]:
for i in range(3):
  print(animals[i])

cat
dog
bard

In [ ]:
for i in range(len(animals)):
  print(animals[i])

cat
dog
bard

In [ ]:
for animal in animals:
  print(animal)

cat
dog
bard

In [ ]:
numbers = [1,2,3]
animals = ['dog','cat','bard']

In [ ]:
for number in numbers:
  print(number)
  for animal in animals:
    print(animal)

1
dog
cat
bard
2
dog
cat
bard
3
dog
cat
bard

In [ ]:
for number,animal in zip(numbers,animals):
  print(number)
  print(animal)

1
dog
2
cat
3
bard

In [ ]:
number = 1
if number > 0:
  print('正の値です。')

正の値です。

In [ ]:
number = -1
if number > 0:
  print('正の値です。')
else:
  print('負の値です。')

負の値です。

In [ ]:
number = 0
if number > 0:
  print('正の値です。')
elif number ==0:
  print('0です。')
else:
  print('負の値です。')

0です。

# 関数

In [2]:
print('こんにちは、株式会社キカガクです。')

こんにちは、株式会社キカガクです。

In [3]:
def say_hallo():
  print('こんにちは、株式会社キカガクです。')

In [4]:
say_hallo()

こんにちは、株式会社キカガクです。

In [5]:
# 使い方その1
def say_hallo(name):
  print('こんにちは、' + name + 'です。')

In [7]:
say_hallo(name='KIKAGAKU')

こんにちは、KIKAGAKUです。

In [8]:
# 使い方その2
def say_hallo(name):
  print('こんにちは、{}です。'.format(name))

In [9]:
say_hallo(name='KIKAGAKU')

こんにちは、KIKAGAKUです。

In [10]:
# 使い方その3
def say_hallo(name):
  print(f'こんにちは、{name}です。')

In [11]:
say_hallo(name='KIKAGAKU')

こんにちは、KIKAGAKUです。

In [12]:
def calc(a, b):
  print(a + b)

In [13]:
result = calc(a=1, b=2)

3

In [15]:
type(result)

NoneType

In [16]:
def calc(a, b):
  return a + b

In [17]:
result = calc(a=1, b=2)

In [18]:
result

3

In [20]:
def calc(a=2, b=3):
  return a + b

In [21]:
result = calc()

In [22]:
result

5

In [24]:
type(result)

int

In [25]:
# 引数の変数名は省略してよい
calc(4, 5)

9

In [26]:
# 引数は左から順番に適用
calc(4)

7

In [27]:
# 引数を直接指定してデフォルト値をうまく利用
calc(b=4)

6

In [28]:
def abs(number):
  if number < 0:
    return number * -1
  else:
    return number

In [29]:
abs(-1)

1

In [30]:
abs(-5.2)

5.2

In [31]:
abs(3)

3

# クラスの基礎

## init関数

In [33]:
class Person:
    def __init__(self):
        self.name = "キカガク"
        self.nationality = "日本"
        self.age = 4

In [36]:
#　インスタンス化
kikagaku = Person()

In [39]:
kikagaku.name

'キカガク'

In [41]:
kikagaku.nationality

'日本'

In [43]:
kikagaku.age

4

In [45]:
mike = Person()

In [47]:
mike.name

'キカガク'

In [49]:
class Person:
    def __init__(self,name,nationality,age):
        self.name = name
        self.nationality = nationality
        self.age = age

In [51]:
kikagaku = Person(name="キカガク",nationality="日本",age=4)

In [53]:
print(kikagaku.name)
print(kikagaku.nationality)
print(kikagaku.age)

キカガク
日本
4

In [55]:
mike = Person("マイク","アメリカ",4)

In [56]:
print(mike.name)
print(mike.nationality)
print(mike.age)

マイク
アメリカ
4

In [57]:
## 通常の関数

In [58]:
class Person:
    def __init__(self,name,nationality,age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def say_hello(self):
        print("こんにちはジョンさん。私はキカガクです。")

In [60]:
kikagaku = Person("キカガク","日本",4)

In [62]:
kikagaku.say_hello()

こんにちはジョンさん。私はキカガクです。

In [63]:
mike = Person("マイク","アメリカ",4)
mike.say_hello()

こんにちはジョンさん。私はキカガクです。

In [64]:
class Person:
    def __init__(self,name,nationality,age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def say_hello(self,name):
        print(f"こんにちは{name}さん。私はキカガクです。")

In [65]:
mike = Person("マイク","アメリカ",4)
mike.say_hello("ボブ")

こんにちはボブさん。私はキカガクです。

In [66]:
class Person:
    def __init__(self,name,nationality,age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def say_hello(self,name):
        print(f"こんにちは{name}さん。私は{self.name}です。")

In [67]:
mike = Person("マイク","アメリカ",4)
mike.say_hello("ボブ")

こんにちはボブさん。私はマイクです。

# Call関数

In [68]:
class Person:
    def __init__(self,name,nationality,age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def __call__(self,name):
        print(f"こんにちは{name}さん。私は{self.name}です。")

    def say_hello(self,name):
        print(f"こんにちは{name}さん。私は{self.name}です。")

In [70]:
kikagaku = Person("キカガク","日本",4)

In [72]:
kikagaku.__call__("ケン")

こんにちはケンさん。私はキカガクです。

In [73]:
kikagaku("ケン")

こんにちはケンさん。私はキカガクです。